.box{
    background: linear-gradient(#21c08b, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}
.animated{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes p404{
    0% {transform: scale(1);}
    50% {transform: scale(1.1) ;}
    100% {transform: scale(1);} 
}
.p404{
    animation-name: p404;
    animation-duration: 1s;
}
.box__not-found h2{
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 150px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.box__not-found p{
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}
.footer{
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}